<Type Name="Context" FullName="Hal.Context">
  <TypeSignature Language="C#" Value="public class Context : System.IDisposable" />
  <AssemblyInfo>
    <AssemblyName>hal-sharp</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>System.IDisposable</InterfaceName>
    </Interface>
  </Interfaces>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context ();" />
      <MemberType>Constructor</MemberType>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context (IntPtr rawContext);" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="rawContext" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="rawContext">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context (Hal.DbusBusType type);" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="type" Type="Hal.DbusBusType" />
      </Parameters>
      <Docs>
        <param name="type">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Context (IntPtr dbus_conn, bool dbus);" />
      <MemberType>Constructor</MemberType>
      <Parameters>
        <Parameter Name="dbus_conn" Type="System.IntPtr" />
        <Parameter Name="dbus" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="dbus_conn">To be added.</param>
        <param name="dbus">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceAdded">
      <MemberSignature Language="C#" Value="public event Hal.DeviceAddedHandler DeviceAdded;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DeviceAddedHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceRemoved">
      <MemberSignature Language="C#" Value="public event Hal.DeviceRemovedHandler DeviceRemoved;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DeviceRemovedHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceNewCapability">
      <MemberSignature Language="C#" Value="public event Hal.DeviceNewCapabilityHandler DeviceNewCapability;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DeviceNewCapabilityHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceLostCapability">
      <MemberSignature Language="C#" Value="public event Hal.DeviceLostCapabilityHandler DeviceLostCapability;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DeviceLostCapabilityHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DevicePropertyModified">
      <MemberSignature Language="C#" Value="public event Hal.DevicePropertyModifiedHandler DevicePropertyModified;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DevicePropertyModifiedHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceCondition">
      <MemberSignature Language="C#" Value="public event Hal.DeviceConditionHandler DeviceCondition;" />
      <MemberType>Event</MemberType>
      <ReturnValue>
        <ReturnType>Hal.DeviceConditionHandler</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dispose">
      <MemberSignature Language="C#" Value="public void Dispose ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IntegrateMainLoop">
      <MemberSignature Language="C#" Value="public void IntegrateMainLoop ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Initialize">
      <MemberSignature Language="C#" Value="public void Initialize ();" />
      <MemberType>Method</MemberType>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DbusConnection">
      <MemberSignature Language="C#" Value="public IntPtr DbusConnection { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.IntPtr</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UseCache">
      <MemberSignature Language="C#" Value="public bool UseCache { set; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Raw">
      <MemberSignature Language="C#" Value="public System.Runtime.InteropServices.HandleRef Raw { get; };" />
      <MemberType>Property</MemberType>
      <ReturnValue>
        <ReturnType>System.Runtime.InteropServices.HandleRef</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
</Type>
